
.bg {
background-image:url(assets/imgs/funny_sheeps-wallpaper-1366x768.jpg);
    position: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%
    
    
}

#head{
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #a8ed3e;
    font-size: 50px;
    box-shadow: 0px 0px 120px 12px #f41462;
    background-color: transparent;
    width:33%;
    border-width: 1px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-bottom-left-radius: 90px
    
    
}
 #about{
    background-color: #721414;
    border: solid 5px transparent;
    border-top-left-radius: 13px;
     padding-left: 9px;
     padding-right: 9px;
    float: right;
}
#about ul li {
    display: inline;
    padding: 9px;
    
    
}
#about a{
    text-decoration: none;
    color: white;
    
    
}
#about ul :hover {
    color: yellow;
    background:transparent;
    font-size: 23px;
    border: 0px;
    
}
#left {
    
    padding-top: 66px;
    width: 23%;
    
    
}
#left ul{
    padding: 16px;  
    padding-bottom:28px;
}


}
#left ul li{
    
    padding-top: 3px;
    padding-left: 2px 

}
#left a{
    display: block;
    text-decoration: none;
    color:#f5095b;
    font-size: 30px;
    border-radius: 8px
    
}
#left ul:hover{
    box-shadow: 8px 0px 16px 0px;
    border-radius: 70px;
    font-style: italic;
    color:aqua;
    width: 77%;
     
}
#left a:hover{
    
    background-color:thistle;
    color: black;
    text-decoration: none;
}
#menu ul{
    list-style: none;
    position: relative;
}

#menu ul a{
    display: block;
    width: 140px;
    font-weight: 700;
    line-height: 32px;
}
#menu ul li{
    position: relative;
    margin: 0;
    padding: 0;
}
#menu ul ul{
    display: none;
    position: absolute;
    top:100%;
    left: 0;
}
#menu ul ul li{
    float: none;
    width: 200px;
}
#menu ul ul a{
    line-height: 120%;
    padding: 10px 15px;
}
#menu ul li:hover >ul{
    display: block;
    
}
.content {
    background-image: url(assets/imgs/timar_2___3doyuncu_com-wallpaper-1366x768.jpg);
    position:fixed;
}
#words{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 1px;
    color: #444d33;
    font-size: 17px
}
         #hawa {
   position:fixed;
 text-align: right;
    padding-bottom: 15px;    
   bottom:0;
   width:98%;
   height:15px;
  font-size: 29px;
   
}
.MC-Bug{
    background-image: url(assets/imgs/whos_the_autograph_for___calculon_futurama-wallpaper-1366x768.jpg);
    position: fixed;
}
.MC-Bug p{
    padding-left: 30px;
    padding-right: 600px;
    padding-top: 1px;
    color: #111211;
    font-size: 17px
}
.AngryFly{
    background-image: url(assets/imgs/stealth_inc__2_a_game_of_clones_nightlight_inflate-wallpaper-1366x768.jpg);
    position: fixed;
}
.AngryFly p{
    padding-left: 3px;
    padding-right: 600px;
    padding-top: 1px;
    color: #111211;
    font-size: 17px
}
.Delta{
    background-image: url(assets/imgs/godzilla_movie_2014-wallpaper-1366x768.jpg);
    position: fixed;
}
.Delta p{
    padding-left: 600px;
    padding-right: 6px;
    padding-top: 1px;
    color: #b0c7b0;
    font-size: 17px
}
.Delta h1{
    color: white;
    width:120%;
}
.Nemo{
    background-image: url(assets/imgs/the_moonsters_game-wallpaper-1366x768.jpg);
    position: fixed;
}
.Nemo p{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 1px;
    color: #f5095b;
    font-size: 17px
}
.JSGeek{
    background-image: url(assets/imgs/born_2-wallpaper-1366x768.jpg);
    position: fixed;
}
.JSGeek p{
      padding-left: 300px;
    padding-right: 300px;
    padding-top: 1px;
    color: #d6a2b4;
    font-size: 17px   
}
.JSGeek h1{
    color:purple;
}
.codepool{
    background-image: url(assets/imgs/toy_robot-wallpaper-1366x768.jpg);
    position: fixed;
}
.codepool h1{
    color: #d6a2b4;
}
.codepool p{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 1px;
    color: #d6a2b4;
    font-size: 17px 
}
.about {
    background-color:  #17e2e5;
    padding-right: 300px;
    background-repeat: no-repeat;
    position: fixed;
    
}

#cont {
    display: block;
    border: solid 5px ;
    border-color: black;
    width: 55%;
    padding-top: 55px;
    border-left-width:
    

    
}