#all {
    
}
.bg {
background-image:url(assets/imgs/awesome_bokeh_vintage-wallpaper-2048x1536.jpg);
    background-repeat: no-repeat;
    padding-bottom: 250px;
    border-width: 100%;
    position:relative;
}

#head{
    text-align: center;
    font-family: 'Poiret One', cursive;
    color: #a8ed3e;
    font-size: 50px;
    width: 26%;
    border-width: 1px;
    background-color:transparent;
}

#left {
    padding-top: 66px;
    width: 20%;
    
    
}
#left ul{
    padding: 6px;
    
}
#left ul li{
    padding-top: 30px;
    padding-left: 24px 
}
#left a{
    text-decoration: none;
    color:#f5095b;
    font-size: 30px;
    border-radius: 8px
}
#left ul:hover{
    background-image:url(assets/imgs/rayman_raving_rabbids_playing_wii-wallpaper-1366x768.jpg);
    border-radius: 70px;
    font-style: italic;
    color:aqua;
    width: 150%;
}
#left a:hover{
    background-color:#d9d6a7;
    text-decoration: none;
    color: saddlebrown;
    
}
 #dropleft{
    position: relative;
    display: inline-block;
}

#content {
    list-style: none;
    margin-bottom: 10px;
    float:left;
    width: 100%;
    position: relative;
    z-index: 5;
}
#content li{
    float: left;
    margin-right: 10px;
    position: relative;
}
#content a{
    display: block;
    padding: 5px;
    text-decoration: none;
}
#dropleft: hover #content li{
    border-left-color: yellow;
    border-right-color: greenyellow;
    border-top-color: darkmagenta;
    border-bottom-color: chocolate;
}